// import only the Bootstrap modules you need, e.g.

$headings-font-family: "Times New Roman", Times, serif;
$primary: #b0b5b8;
$dark: #04040C;
$headings-color: #762856;
$card-bg: #FCFCFC;
$info: #100f